@page
@model LataPrzestepne.Pages.People.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Person</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.Year)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.Year)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.LeapYear)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.LeapYear)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.Result)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.Result)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.Date)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Index">Powrót</a>
</div>
